@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins:wght@400;500;600;700&display=swap");

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--bg-color: #808080;
	--bg-color-alternative: #b19d9e;
	--alternative-color-1: #faa978;
	--black-color: #000;
	--white-color: #fff;
}

html {
	scroll: smooth;
}

body {
	font-family: "Playfair Display", serif;
	color: white;
}

header {
	font-family: "Poppins", sans-serif;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

header {
	background-color: var(--bg-color);
}

.navbar {
	min-height: 80px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 2rem;
}

.logo,
.logo-name {
	font-size: 1.5rem;
	font-family: "Playfair Display", serif;
}

.logo {
	color: var(--white-color);
}

.logo-name {
	color: var(--alternative-color-1);
}

.nav-menu {
	font-family: Poppins;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 5rem;
	color: white;
	text-transform: capitalize;
	font-weight: bold;
}

.nav-link {
	color: var(--white-color);
}

.hamburger {
	cursor: pointer;
	display: none;
}

.bar {
	display: block;
	width: 30px;
	height: 4px;
	background-color: var(--white-color);
	border-radius: 3rem;
	margin: 5px auto;
}

.hero-image {
	width: 100vw;
	height: 100vh;
	background-image: url("./images/interior.jpg");
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

.overlay {
	position: absolute;
	width: 100%;
	height: 100vh;
	/* top:0; */
	left: 0;
	background: rgba(0, 0, 0, 0.65);
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.hero-text {
	text-align: center;
}
.hero-title {
	font-size: 2rem;
	line-height: 1.2;
	margin-bottom: 1rem;
}

.hero-para {
	font-family: Poppins;
	font-size: 0.9rem;
	line-height: 1.2;
	text-align: left;
	margin-bottom: 1rem;
	padding: 0 2rem;
}

.btn {
	padding: 14px 16px;
	border-radius: 3rem;
	background-color: var(--alternative-color-1);
	border: none;
}

@media screen and (max-width: 767px) {
	.logo,
	.logo-name {
		font-size: 0.8rem;
	}

	.hamburger {
		display: block;
	}

	.nav-menu {
		position: fixed;
		left: -100%;
		top: 70px;
		gap: 2rem;
		flex-direction: column;
		background-color: black;
		width: 100%;
		transition: 0.3s ease-out;
		text-align: center;
		padding-bottom: 1rem;
	}

	.hamburger.active .bar:nth-child(2) {
		opacity: 0;
	}

	.hamburger.active .bar:nth-child(1) {
		transform: translateY(8px) rotate(45deg);
	}

	.hamburger.active .bar:nth-child(3) {
		transform: translateY(-8px) rotate(-45deg);
	}

	.nav-menu.active {
		left: 0;
	}
	/* hero */
	.hero-text {
		margin-top: -10rem;
	}
	.hero-title {
		font-size: 1rem;
	}

	.hero-para {
		font-size: 0.8rem;
		padding: 0 2rem;
	}
}
